.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: rgb(0, 0, 0);
    flex-wrap: wrap;
    border-radius: 10px;
}
@media screen and (max-width: 600px) {
    .title {
      font-size: 1em;

    }
  }
  