.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    margin: 40px 40px;
    margin-top: 10px;
    align-items: center;
}
.logo:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 600px) {
    .container {
        margin: 5px 5px;
        height: auto;
        flex-wrap: wrap;
    }
    
}